<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mu's Shopee - 選擇使用者</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cover.css') }}">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <ul>
                <li><a href="/">主畫面</a></li>
                <li><a href="#" onclick="navigateToScan()">掃描</a></li>
                <li><a href="/scan_records/{{ username }}">掃描紀錄</a></li>
                <li><a href="/manage_users">管理使用者</a></li>
            </ul>
        </div>
        <div class="main-content">
            <h1>歡迎來到 Mu's Shopee</h1>
            <h2>請選擇您的名稱</h2>
            <div class="user-selection">
                <select id="user-select">
                    {% for user in users %}
                    <option value="{{ user }}">{{ user }}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="next-button" onclick="selectUser()">下一步，開始掃描</button>
        </div>
    </div>
    <script>
        function selectUser() {
            const user = document.getElementById("user-select").value;
            window.location.href = `/user/${user}`;
        }

        function navigateToScan() {
            const user = document.getElementById("user-select").value;
            if (user) {
                window.location.href = `/user/${user}`;
            } else {
                alert('請先選擇一個使用者');
            }
        }
    </script>
</body>
</html>
