<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/static.css') }}">
</head>
<body>
    <div class="container">
        <h1>QR Code Generator</h1>
        <img src="{{ url_for('static', filename='images/example_image.jpg') }}" alt="Example Image">
        <form id="qrForm" method="post" action="/generate_qr">
            <label for="text">Enter text to generate QR code:</label>
            <input type="text" id="text" name="text" required>
            <button type="submit">Generate QR Code</button>
        </form>

        <h2>QR Codes</h2>
        <div id="qrCodes">
            {% for idx, qr in enumerate(qr_data) %}
                <div class="qr-code">
                    <img src="{{ qr.qr_code }}" alt="QR Code">
                    <div class="text">Text: {{ qr.text }}</div>
                    <div class="timestamp">Timestamp: {{ qr.timestamp }}</div>
                </div>
            {% endfor %}
        </div>

        <form method="get" action="/generate_excel">
            <button type="submit">Download Excel</button>
        </form>
        <form method="get" action="/generate_pdf">
            <button type="submit">Download PDF</button>
        </form>
        <form id="clearForm" method="post" action="/clear_all">
            <button type="submit">Clear All</button>
        </form>
    </div>
    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
